main, .content {
	background-image: url('bg/bg_main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
}
main .content {
	background: linear-gradient(70deg, rgba(0,0,0,0.4) 60%, transparent 60%);
	color: white;
	padding: 22px;
	font-size: 30px;
}
main .content ul {
	list-style-type: none;
}
@media (max-width: 768px) {
	main {
		background-position: 70%, 50%;
	}
	main .content {
		background: rgba(0,0,0,0.4);
	}
}